{% extends "base.html" %}
{% load thumbnail%}

{%block head%}

<title>Home Page</title>

{%endblock%}


{%block body%}
<div>
    <a href=" {% url 'feed:post' %}"> Add a new post</a>
</div>

    {% for post in posts %}
    <br>
        <a href="{% url 'feed:post_details' post.id %}" >
            <h2>
            {{post.text}}
             </h2>

            {% thumbnail post.image "200x200" crop="center" as im %}
                <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}">
            {% endthumbnail %}<br>
         

        <hr>
        </a>     
    {% endfor %}
{%endblock%}